.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vh;
  padding: 2.5rem;
  background: aqua;
  background-color: #0d47a1;
}

.header ul {
  list-style: none;
  width: 35%;
  min-width: 410px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #6495ed;
  font-size: 1.25rem;
  transition: color 200ms linear;
}

/* Hover and current page nav bar styling */
.header a.active,
.header a:hover {
  color: white;
  transition: color 200ms linear;
}

@media only screen and (max-width: 430px) {
  .logo {
    display: none;
  }

  .header ul {
    justify-content: center;
  }

  .header li {
    margin: 0 0.4rem;
  }
}
