.hero img {
  display: block;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
}

.quote {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .hero img {
    width: 100%;
    height: auto;
  }
}
